<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <title>北辰的空间</title>
        <meta name="description" content="北辰的个人网站，期待与更多的人相遇！">
        <meta name="keywords" content="北辰  Bei Chen 摩托车  极限运动 个人网站 博客  ">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/avatar.bab2b7d4.jpeg' %}">
        <link rel="stylesheet" href="{% static 'css/h.9c69ed6c.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nekotora.99cf6f8c.css' %}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137340638-1"></script>
        <script>function a(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],a("js",new Date),a("config","UA-137340638-1");</script>
        </head>
        <body> 
        <nav>
        <a href="/">北辰</a>
        <a class="clip"><a href="https://motogp.com">moto空间</a>
        <a class="clip"><a href="https://www.bilibili.com/anime">动漫空间</a>
        <a class="clip"></a> <a href="https://cn.aliyun.com/">阿里云</a>
        </nav>

          <body>
<body data-phone-cc-input="1">
<body>
<link href="{% static 'css/toastr.css'  %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
<script src="{% static 'js/toastr.min.js' %}"></script>
<style>
 .toast-bottom-center {
  position: absolute;
  left: 30px;
  right:10px;
  top: 20px;
}
   </style>

        <div class="background">
        <canvas id="startrack"></canvas>
        <div class="cover"></div> </div>
        <div class="main"> <div class="ch intro">
        <div class="container"> <div class="hello">
            <h1 id="slogan">思考中...</h1>
            <h2> <div class="circle"> <span></span> <span></span>
            <span></span> </div>北辰|北辰空间</h2> </div> </div> </div>
            <div class="ch about"> <div class="container">
            <h2 class="chtitle">Who is <span>BeiChen</span>？</h2>
            <div class="clear"> <div class="introduct">
            <img class="avatar" src={% static "images/beichen.jpg" %}> <P>坚硬的代替了那些柔软的，清晰的取代了那些模糊的。那些滑溜溜和黏糊糊的东西，带你来到了世界的角落。</p>
            <p style="padding-bottom:1em;">How lucky to meet you!</p>
            <p>你好，这里是北辰 <sup>BeiChen</sup> ，20岁，是学生，对有趣的世界和可能有趣的你感到好奇，热爱机车和网络文化，正在尝试从事互联网产品/Python大数据相关工作。</p>
            <p>希望能与你在比特之海的繁星之下相见！</p>
            <div class="chatbox">   <div class="line loading"> <span></span>
            <span></span> <span></span> </div> </div> </div>
            <ul class="skill clear"> <li> <p>HTML5/CSS3</p>
            <div class="progress"> <div style="width:60%;"></div>
            <span>制作网站程度的能力</span> </div> </li>
            <li> <p>Python</p>
            <div class="progress"> <div style="width:55%;"></div>
            <span>运用大数据的能力</span>
            </div> </li> <li> <p>PHP</p>
            <div class="progress"> <div style="width:60%;"></div>
            <span>赞美最好的语言程度的能力</span> </div> </li>
            <li> <p>数字设计</p>
            <div class="progress">
            <div style="width:65%;">
            </div><span>让自己舒服程度的能力</span> </div> </li>
            <li> <p>世界</p> <div class="progress">
            <div style="width:20%;"></div>
            <span>观测世界程度的能力</span> </div> </li>
            <li> <p>搞事情</p> <div class="progress">
            <div style="width:82%;"></div>
            <span>让事情发生程度的能力</span> </div> </li>
            <li> <p>魔法</p> <div class="progress">
            <div style="width:12%;"></div>
            <span>和普通人相同程度的能力</span> </div> </li>
            <li> <p>Moto</p>
            <div class="progress">
            <div style="width:99%;"></div>
            <span>对摩托的痴迷程度</span>
            </div>
            </li>
            </ul>
            </div>
            </div>
            </div>
            <div class="find ch"> <div class="container links">
                 <h2 class="chtitle">北辰生活的<span>地方</span></h2>
                 <div class="clear col-3">
                 <a href="/" target="_blank">
                 <div class="item">
                 <div class="bg" style="background-color:#28a9e0"></div>
                 <div class="inner"> <span>北辰</span> </div> </div> </a>
                 <a href="/" target="_blank">
                  <div class="item"> <div class="bg" style="background-color:#28a9e0"></div>
                   <div class="inner"> <span>北辰</span> </div> </div> </a>
                     <a href="//。" target="_blank">
                      <div class="item">
                       <div class="bg" style="background-color:#28a9e0"></div>
                       <div class="inner"> <span>北辰</span> </div> </div> </a> </div>
                      <div class="clear">
                       <a href="/" target="_blank">
                        <div class="item">
                         <div class="bg" style="background-color:#28a9e0"></div>
                          <div class="inner"> <i class="icon-qq"></i>
                           <span>QQ</span> </div> </div> </a>
                            <a href="/" target="_blank">
                     <div class="item"> <div class="bg" style="background-color:#28a9e0"></div>
                     <div class="inner"> <i class="icon-mail"></i> <span>Mail</span> </div> </div> </a>
                     <a href="http://www.weibo.com/" target="_blank">
                     <div class="item"> <div class="bg" style="background-color:#e6162d"></div>
                     <div class="inner"> <i class="icon-weibo"></i> <span>Weibo</span> </div> </div> </a>
                     <a href="https://search.bilibili.com/upuser?keyword=%E5%8C%97%E8%BE%B0MT" target="_blank">
                     <div class="item"> <div class="bg" style="background-color:#f9a2a8"></div>
                     <div class="inner"> <i class="icon-bilibili"></i>
                     <span>Bilibili</span> </div> </div> </a>
                     <a href="https://twitter.com/BeiChen47959206" target="_blank">
                     <div class="item"> <div class="bg" style="background-color:#28a9e0"></div>
                     <div class="inner"> <i class="icon-twitter"></i> <span>Twitter</span> </div> </div> </a>
                     <a href="https://www.youtube.com/channel/UCIdAmb_CTRvj1FI8nCCosew?view_as=subscriber" target="_blank">
                        <div class="item"> <div class="bg" style="background-color:red"></div>
                         <div class="inner"> <i class="icon-youtube"></i>
                          <span>YouTube</span> </div> </div> </a>
                          <a href="/" target="_blank">
                          <div class="item"> <div class="bg" style="background-color:#f09199"></div>
                          <div class="inner"> <i class="icon-bookmark"></i> <span>Bangumi</span> </div></div></a>
                          <a href="https://github.com/beichen123-hub/wangyiyun.git" target="_blank">
                          <div class="item"> <div class="bg" style="background-color:#f12d35"></div>
                          <div class="inner"> <i class="icon-netease_music"></i>
                          <span>网易云音乐</span> </div> </div> </a>
                          <a href="https://github.com" target="_blank">
                          <div class="item"> <div class="bg" style="background-color:#353535"></div>
                          <div class="inner"> <i class="icon-github"></i> <span>Github</span> </div> </div> </a>
                          <a href="https://www.instagram.com/beichen948/" target="_blank"> <div class="item"> <div class="bg" style="background-color:#b600ff"></div>
                          <div class="inner"> <i class="icon-instagram"></i> <span>Instgram</span> </div> </div> </a> </div> </div> </div>
                          <div class="gate ch"> <div class="container links">
                          <div class="clear"> <a href="/" target="_blank">
                          <h2 class="chtitle">北辰的<span>乖乖和她的朋友</span></h2>
                          <div class="item">
                              <a href="zengyin.html" target="_blank">
                          <div class="avatar"> <img src="../static/images/guaiguai.jpg"> </div>
                          <div class="inner"> <h5>美丽可爱的</h5> <p>小仙女</p> </div> </div> </a>
                              <a href="zengying.html" target="_blank"></a></div>
                          <a href="{% url 'error' %}" target="_blank">
                          <div class="item akarin"> <div class="avatar"> <img src="../static/images/xueshanshan.jpg"> </div>
                          <div class="inner"> <h5><span style="opacity:.3"></span>冷酷美艳</h5> <p>的大姐姐</p> </div> </div> </a>
                            <h2 class="chtitle"></h2>
                          <h2 class="chtitle">北辰的<span>朋友们</span></h2>
                          <a href="{% url 'error' %}" target="_blank">
                          <div class="item akarin"> <div class="avatar"> <img src="../static/images/zyweixin.jpg"> </div>
                          <div class="inner"> <h5><span style="opacity:.3"></span>高情商</h5> <p>的超级学霸</p> </div> </div> </a>
                          <a href="{% url 'error' %}" target="_blank">
                          <div class="item"> <div class="avatar"> <img src="../static/images/zxyweixin.jpg"> </div>
                          <div class="inner"> <h5>时时刻刻</h5>
                          <p>极度虚弱的</p> </div> </div> </a>
                          <a href="{% url 'error' %}" target="_blank"> <div class="item">
                          <div class="avatar"> <img src="../static/images/wwqweixin.jpg"> </div>
                          <div class="inner"> <h5>超级牛逼的</h5> <p>大哥</p> </div> </div> </a>
                          <a href="{% url 'error' %}" target="_blank">
                          <div class="item"> <div class="avatar"> <img src="../static/images/nzpweixin.jpg"> </div>
                          <div class="inner"> <h5>帅气的撩妹</h5> <p>小王子</p> </div> </div> </a>
                          <a href="{% url 'error' %}" target="_blank">
                          <div class="item"> <div class="avatar"> <img src="../static/images/ypweixin.jpg"> </div>
                          <div class="inner"> <h5>假装表面老实</h5> <p>的渣男</p> </div> </div> </a>
                          <a href="{% url 'error' %}" target="_blank">
                          <div class="item"> <div class="avatar"> <img src="../static/images/yflweixin.jpg"> </div>
                          <div class="inner"> <h5>采花大盗</h5> <p>深情的海王</p> </div> </div> </a>
                          <a href="{% url 'error' %}" target="_blank">
                           <div class="item"> <div class="avatar"> <img src="../static/images/xlweixin.jpg"> </div>
                               <div class="inner"> <h5>每分每秒</h5> <p>的网抑云用户</p> </div> </div> </a>
                               <a href="/" target="_blank">
                          </div> </a> </div></div> </div>
                 <div class="footer ch"> <div class="container"> <h3>北辰网络空间</h3> <p>蘑菇森林的尽头，新世界的起点</p>
                 <p class="c"><a href="/">Say hello to me @ </a></p>
				  <p class="c"><a href="/">KTM · Because of enthusiasm </a></p>
                  </div>
                 </div>
                </div>
              <script src="{% static 'js/page.3a0791a3.js' %}"></script>
           <script type="text/javascript" src="{% static 'js/stats.js' %}" charset="UTF-8">
       </script>
         
  <audio autoplay>
  <source src="https://api.uomg.com/api/rand.music?sort=热歌榜" type="audio/mpeg">
  </audio>
  
    </body>
</html>